{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!
{% endblock %}

{% block body %}
	

	

	<div class="card">
		<div class="card-header d-flex justify-content-between">
			<h1 class="primary-color">EDIT YOUR PACKAGE</h1>
            	<button onclick="window.history.back();" class="btn  secondary-bg text-light pt-1 pb-1 ps-3 pe-3">Retrun</button>
		</div>
		<div class="card-body container p-5">
{{ form_start(form) }}
	{{ form_row(form._token) }}

	{{ form_widget(form.state, { 'attr': {'Hidden': true} }) }}

			<div class="row mb-3 ">
				<div class="col-md-4 form-label">Package Label :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.label) }}</small>
					{{ form_widget(form.label,{ 'required': true}) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Package Price :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.price) }}</small>
					{{ form_widget(form.price,{ 'required': true}) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Package region :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.region) }}</small>
					{{ form_widget(form.region) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Package City :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.city) }}</small>
					{{ form_widget(form.city,{ 'required': true}) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Package Adress :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.adress) }}</small>
					{{ form_widget(form.adress,{ 'required': true}) }}
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-4">Destination name  :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.dest_name) }}</small>
					{{ form_widget(form.dest_name,{ 'required': true}) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Destination phone  :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.dest_phone) }}</small>
					{{ form_widget(form.dest_phone,{ 'required': true}) }}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-4">Number of products :</div>
				<div class="col-md-8">
					<small class="form-error">{{ form_errors(form.nb_product) }}</small>
					{{ form_widget(form.nb_product,{ 'required': true}) }}
				</div>
			</div>


			<div class="row mb-3">

				<div class="col-md-12 text-right">

					<input type="submit" class="btn  primary-bg text-light " value="EDIT New Packge"/>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
